
body{
    margin: 0;
}
#main_menu{
    background-color: brown;
}
#main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#main_menu li{
    display: inline-block;
    position: relative;
}
#main_menu li a{
    text-decoration: none;
    display: block;
    padding: 12px 15px;
    color: white;
}
#main_menu li a:hover{
    background: goldenrod;
}


#main_menu ul ul{
    position: absolute;
    left: 0;
    top: 39px;
    background: green;
    width: 200px;
    display: none;
    z-index: 999;
}
#main_menu ul ul li{
    display: block;
}
#main_menu ul li:hover ul{
    display: block;
}
#main_menu ul li:hover a{
    background: goldenrod;
}
#main_menu ul li:hover li a{
    background: green;
}
#main_menu ul ul li a:hover{
    background: goldenrod;
}

table, th, td {
    border: 2px black;
    border-collapse: collapse;
    padding: 19px 25px;
}
table{
    background: #30336b;
    color: white;
    margin: 15px 15px auto;
}
thead tr{
    background: rgb(255, 0, 242);
    color: black;
    border: 1px solid black;
}
thead tr:hover{
    background: gray;
    color: white;
}
tbody tr td{
    border: 1px solid black;
}
tbody tr:hover{
    background: aquamarine;
    color: black;
}
.flex-container{
    display: flex;
background: #686de0;
margin-top: 10px;
}
.flex-container > div{
    background: white;
    margin: 10px;
    padding: 32px 35px;
    font-size: 35px;
}
.div6 {
    flex-grow: 3;
    text-align: center;
}
.flex-container > div:hover{
    background: #7ed6df;
    color: white;
    opacity: .9;
}